.pixel-blast-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.pixel-blast-container canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0;
}
